@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic); 

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,h1,h2,h3{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.client_block {
	padding: 50px 100px;
	background: url(img/background.jpg) no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

.client_main {
	margin: 50px 0;
	padding-left: 8px;
}

.client_block_head {
	text-align: center;
	color: #3170A8;
	text-transform: uppercase;
	font-size: 24px;
}

.head-orange {
	color: #EE8129;
}

.client_main_box {	
    width: 48%;
}

.client_main_box, .client_main_box_img, .client_main_text {
	display: inline-block;
}

.client_main_box_img {
	margin: 0 10px;
	vertical-align: top;
}

.client_main_head {
	color: #3170A8;
	border-bottom: dotted 1px;
	font-style: italic;
	height: 32px;
}

.client_name {
	float: left;	
}

.client_customer {
	float: right;	
}

.client_main_text::before {
	content: '';
	position: absolute;
	top: 42px;
	left: -25px;
	border: solid 10px transparent;
	border-right: solid 15px #FFF;
}

.client_main_text {
	position: relative;
    margin-left: 10px;
	background-color: white;
	width: 70%;
	padding: 18px;
	color: #666666;
	font-size: 13px;
}





